    {% load static %}
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #24333c;
            text-align: center;
            margin: 50px;
            background-image: url('{% static "media/back4.jpg" %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            color: #592f2f;
            display: flex;
            flex-direction: column;

        }

        h2 {
            color: #333;
        }

        form {
            width: 300px;
            margin: 20px auto;
            background-color: #878787;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
            font-weight: bold;
        }

        input[type="date"],
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #4c88af;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

    </style>
{% block content %}
  <h2>No Appointments</h2>
  <p>There are no appointments for the selected date.</p>
{% endblock %}